@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main>
                    <div class="top-row px-4">
                        <form action="/account/logout" method="post">
                            <AntiforgeryToken />
                            @* <input type="hidden" name="ReturnUrl" value="@currentUrl" /> *@
                            <button type="submit" class="dropdown-item notify-item">
                                <i class="ri-logout-box-line"></i>
                                <span>Log Out</span>
                            </button>
                        </form>
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="page">
                <main style="width:100%">
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
